* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu {
    background-color: #202A33;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 5%;
}

.menu img {
    width: 20em;
}

.menu nav ul {
    display: flex;
    gap: 1em;
}

.menu nav ul li a {
    color: white;
    font-size: 1.5em;
}

.menu nav ul li a:hover {
    color: #70767C;
    transition: 0.8s;
}

.imgFundo {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.692) 25%), url(img/imgFundo_home.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 60em;
}

.Cafeteria {
    color: white;
    padding: 7em 20em;
    width: 55%;
}

.Cafeteria p {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

.Cafeteria h1 {
    font-size: 7em;
    padding: 0.3em 0;
}

.btn1 {
    width: 15em;
    height: 3em;
    text-transform: uppercase;
    font-size: 1em;
    background-color: #856F38;
    color: white;
    border: 1px solid white;
}

.btn1:hover {
    color: #856F38;
    background-color: #DBC893;
    transition: 0.7s;
    outline: none;
}

.btn1::after {
    content: "\f232";
    font-family: "Font Awesome 6 Brands";
    margin-left: 0.6em;
}

.imgFundo2 {
    background: linear-gradient(180deg, #0f0d09b6), url(img/imgFundo_historia.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90em;
    color: white;
    padding: 6em 25em;
}

.containerHistoria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.containerHistoria p {
    font-size: 2em;
}

.containerHistoria h2 {
    font-size: 4em;
    text-transform: uppercase;
    padding: 1em 0;
}

.imgHistoria img {
    width: 30em;
}

.grind {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1em;
    padding-top: 6em;
}

.grind img {
    width: 6em;
}

.conteudo {
    width: 80%;
    border-right: 1px solid #3C3F47;
    height: 15em;
}

.expresso {
    border: none;
}

.conteudo p {
    font-size: 2em;
    padding-top: 1em;
}